.background__page{
  background-color: #8fa0bd;
  height: 100vh;
}

.form_table{
  padding: 4rem;
  background-color: #fff;
  border-radius: 20px;
}

label{
  color: #008000;
}

h1{
  color: #166d16;
  font-weight: bold
}
